{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
{% block content %}
</head>
<script>
    alert("Hello I am not available all the time but you can reach to me via E-mails");
</script>
<style>
    body{
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #447e9b;
    }
</style>

<body>
To contact me, email in the following mail adresses;
<ul>
    <li>
        drparishrameearticles@gmail.com
    </li>
    <li>
        parishramee@debhiss.com
    </li>
    <li>
        contact_dr_ghanashyam@gmail.com
    </li>
</ul>
</body>
{% endblock content %}
</html>